.container{
    width: 100%;
    margin: 20px auto;
    padding: 0 0 0 20px;
}
.title{
    display: flex;
    justify-content: space-between;
    h1{
        font-family: sans-serif;
        font-size: 20px;
        margin-bottom: 15px;
        padding-right: 100px;
    }
    .btn-shop{
        cursor: pointer;
    }
}
.shop{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}
.shop-card{
    h3{
        font-family: sans-serif;
    }
    button{
        background-color: black;
        color: white;
        font-family: sans-serif;
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
        padding: 10px;
    }
}
.head{
    display: flex;
    gap: 50px;
}
.card{
    background-color: black;
    width: 700px;
    height: 800px;
    #close{
        background-color: white;
        color: black;
        font-family: sans-serif;
        padding: 20px 220px;
        font-size: 20px;
        cursor: pointer;
    }
    h1{
        color: white;
        font-family:Arial, Helvetica, sans-serif;
        padding: 10px;
    }
    .shop-card{
        padding: 10px;
        display: flex;
        gap: 10px;
        img{
            width: 90px;
        }
        h3{
            font-size: 15px;
            color: white;
            width: 100%;
        }
        .add{
            display: none;
        }
        .remove-btn{
            background-color: red;
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .num{
            color: white;
            font-family: sans-serif;
            font-size: 30px;
            padding: 40px 40px;
            cursor: pointer;
        }
        .reduc{
            background-color: blue;
            color: white;
        }
    }
}